{
  admin off
}

{$SITE_ADDRESS} {
  encode zstd gzip
  header X-Content-Type-Options nosniff
  header Referrer-Policy no-referrer
  header X-Frame-Options DENY

  @api path /api /api/* /hub /hub/* /openapi /openapi/*
  handle @api {
    reverse_proxy gateway:8080
  }

  redir /kiosk /kiosk/ 308
  handle /kiosk/* {
    reverse_proxy kiosk-web:80
  }

  handle /_next/* {
    reverse_proxy next-web:3000
  }
  @portal path /login /admin /admin/* /seller /seller/* /receipt /dang-nhap /dang-ky /quen-mat-khau /dat-lai-mat-khau /tai-khoan /dat-hoa
  handle @portal {
    reverse_proxy next-web:3000
  }

  handle {
    reverse_proxy next-web:3000
  }
}
